{% extends 'base.html' %}

{% block title %}
  {{ block.super }} {{ resource.title }}
{% endblock %}

{% block content %}
  {% block pageHead %}
    <div class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1 class="heading-title">{{ resource.title|title }}</h1>
              <p class="mb-0">Explore a curated collection of academic materials, research articles, and educational tools to support your learning journey in pharmacy. Easily search and access the information you need for study and research.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container"></div>
      </nav>
    </div>
  {% endblock %}

  <section id="events-2" class="events-2 section">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-8">
          <div class="events-list">
            <div class="event-item">
              <div class="event-date">
                <span class="day">{{ resource.upload_time|date:'d' }}</span>
                <span class="month">{{ resource.upload_time|date:'b'|upper }}</span>
              </div>
              <div class="event-content">
                <h3>{{ resource.title }}</h3>
                <div class="event-meta">
                  <p>
                    <i class="bi bi-person"></i> {{ resource.student_name }}
                  </p>
                  <p>
                    <i class="bi bi-book"></i> {{ resource.unit_name }} ({{ resource.unit_code }})
                  </p>
                  <p>
                    <i class="bi bi-calendar"></i> {{ resource.upload_time|date:'M d, Y' }}
                  </p>
                </div>

                {% if resource.get_files %}
                  <p>
                    <strong>Files:</strong>
                  </p>
                  <ul>
                    {% for file in resource.get_files %}
                      <li>
                        <a href="{{ file.file.url }}" target="_blank" rel="noopener">{{ file.file.name|slice:'20:' }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                <div class="d-flex justify-content-between align-items-center">
                  <div></div>
                  <a href="{% url 'core:partials:download_resource_files' resource.pk resource.slug %}" class="btn-register">Download All Files <i class="bi bi-download"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-item featured-event">
              <h3 class="sidebar-title">Announcements</h3>

              <div class="featured-event-swiper swiper">
                <div class="swiper-wrapper">
                  {% for event in featured_events %}
                    {% include 'pages/components/resources/announcement.htm' with announcement=event %}
                  {% empty %}
                    <div class="swiper-slide">
                      <p>No announcements available.</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
